@font-face {
	font-family: 'CityBoys';
	src: url(../../assets/fonts/CityBoys-Regular.woff2) format('woff2'),
	url(../../assets/fonts/CityBoys-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}